.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ebeef3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #212222;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header{
	height:5rem;
  background: #106a6ddc;
  padding:1rem;
  font-size: 18px;
  display:flex; 
}
.logo{
	display:inline-flex;
	background-size: cover;
	width:50px;
  height:65px;
  padding-bottom:1rem;
	
}
.wrapper{
  width:540px;
  height:320px;

}
.container{
display:flex;
flex-direction:row;
display:block;
margin-top:2rem;

}
.speak{
  height:300px;
  width:525px
}
.text{
  width:70rem;
  height:15rem;
}
.bd-highlight{
  color:white;
}


